.invisible {
  display: none;
}
.closediv {
  background-color: rgb(11, 47, 55);
  border: solid;
  border-color: black;
  border-bottom: none;
  display: flex;
  justify-content: flex-end;
}
.closebutton {
  background-color: red;
  color: white;
  font-size: 10px;
  border: none;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 15px;
  height: 2vh;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.tablecolors > td:nth-child(even) {
  background-color: #dddddd;
}
.form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.clients {
  background-color: rgb(11, 47, 55);
  border-color: rgb(11, 47, 55);
  color: white;
  border-left: solid;
  border-right: solid;
  border-color: black;
}
.borders {
  border: none;
}
.tablecolors > tr:nth-last-child(n + 6) {
  display: none;
}
.emails > tr:nth-last-child(n + 6) {
  display: none;
}
.dates > tr:nth-last-child(n + 6) {
  display: none;
}
