.invisible {
  display: none;
}
.divclose {
  background-color: rgb(11, 47, 55);
  display: flex;
  justify-content: flex-end;

  margin-bottom: 0;
}
.closebutton {
  background-color: red;
  color: white;
  font-size: 10px;
}
