/* GLOBAL STYLINGS */

.body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #0b2f37;
  font-size: 26px;
}

img {
  font-family: serif;

  padding: 2px;
}

p {
  color: #474747;
}

a {
  color: inherit;
  text-decoration: none;
}

/*** 
  * Only here because of issues w/ 
  * styled-components and '\'-character */
.rocket-para::after {
  content: "\1F680";
  margin-left: 10px;
}

.title {
  color: rgba(11, 47, 55, 0.9);
  font-size: 2.5rem;
  text-shadow: 0px 4px rgba(64, 135, 56, 0.75), 0px 8px rgba(255, 166, 0, 0.75);
}

.section {
  height: 83vh;
  border-bottom: 5px solid #0b2f37;
  padding: 50px;
  background-color: #ebede1;
}
