.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 4vw 9vw 10vw;
  margin: 0 auto;
  max-width: 56em;
  padding: 2em 0;
}
.header,
.footer,
.main,
.main2 {
  grid-column: 1 / span 5;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.header,
.footer {
  height: 5vw;
}
.header {
  background-color: #0b2f37;
  font-weight: bold;
  font-size: 30px;
  color: white;
  border: solid;
  border-color: black;
  margin-top: -13px;
}
.main {
  font-size: 60px;
  border-left: solid;
  border-right: solid;
}
.main2 {
  border-left: solid;
  border-right: solid;
}
.footer {
  display: flex;
  flex-direction: row;
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 50px;
  padding-top: 50px;
  border-left: solid;
  border-right: solid;
  border-bottom: solid;
}
.buttons {
  display: flex;
  font-size: 15px;
}

.dropdown {
  width: 40vw;
  font-size: 15px;
  margin-top: -7px;
  border-radius: 10px;
  border: solid;
  border-width: 1px;
}

.align {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  padding: 5px;
}
.align2 {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  padding: 5px;
  margin-left: 20px;
}
.input-field {
  width: 80%;
}
