.invisible {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: -10px;
  margin-left: -10px;
  width: 100%;
}
.header,
.footer,
.main,
.main2 {
  grid-column: 1 / span 5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.header,
.footer {
  height: 10vh;
}
.header {
  background-color: rgb(11, 47, 55);
  font-weight: bold;
  color: white;
  border: solid;
  border-color: black;
  border-top: none;
}
h3 {
  font-size: 25px;
  margin-top: -5px;
}
.closediv {
  background-color: rgb(11, 47, 55);
  border: solid;
  border-color: black;
  border-bottom: none;
  display: flex;
  justify-content: flex-end;
}
.closebutton {
  background-color: red;
  color: white;
  font-size: 10px;
  border: none;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  border-left: solid;
  border-right: solid;
}
.main2 {
  border-left: solid;
  border-right: solid;
  padding-top: 10px;
}
.footer {
  display: flex;
  flex-direction: column;
  padding-bottom: 20vh;
  margin-bottom: -5vh;
  border-left: solid;
  border-right: solid;
  border-bottom: solid;
}
button {
  font-size: 15px;
}

.dropdown {
  width: 17vw;
  font-size: 12px;
  border-radius: 10px;
  border: solid;
  border-width: 0.5px;
}

.align {
  display: flex;
  flex-direction: column;
  font-size: 10px;
}
.align2 {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  padding: 5px;
}
.input-field {
  width: 70%;
}
.time {
  display: flex;
}
.buttons {
  display: flex;
}
.pause {
  margin-right: 5px;
  margin-left: 5px;
}
.submit {
  padding-bottom: 3.5vh;
  margin-bottom: -15vh;
}
@media screen and (max-width: 460px) {
  .footer {
    margin-top: 40vh;
    margin-bottom: -20vh;
    padding-bottom: 15vh;
    display: flex;
    flex-direction: column;
  }
  .main2 {
    margin-bottom: -60vh;
    margin-top: 10vh;
  }
  .main {
    margin-bottom: -23vh;
  }
  .header {
    padding-top: 13vh;
    margin-top: -9vh;
  }
  h3 {
    margin-bottom: -30vh;
    margin-top: -50vh;
  }
  .input-field {
    width: 75vw;
  }
  .submit {
    padding-bottom: 3.5vh;
  }
}
